*{
    box-sizing: border-box;
}

header, #titulo, .textHide, .presente, .laco, iframe {
    position: relative; 
    z-index: 1; 
}


.Principal, .Hide {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: scale(1);
}
  
.hide {
    opacity: 0;
    transform: scale(0.95);
}
  
.Hide {
    display: none;
    opacity: 0;
    transform: scale(0.95);
}

.show {
    opacity: 1;
    transform: scale(1);
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Arvo;
    background-color: rgb(26, 26, 65);
    max-height: 100vh; 
    width: 100%;
    overflow: hidden;
}

.heart{
    z-index: -1;
    position: fixed;
    top: 0;
    font-size: 1.5em;
    color: pink;
    animation: fall 3s linear forwards;
}
@keyframes fall{
    to{
        transform: translateY(105vh);
    }

}


header{
    padding: 20px;
    margin-bottom: 50px;
    height: 70px;
}

#titulo{
    margin-bottom: 250px;
    font-size: 25px;
    margin-top: 50px;
    color: white;
    text-align: center; 
}

#music {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 300px;
    height: 80px;
    border: none;
    overflow: hidden;
}

.textHide{
    margin: auto;
    width:300px;
    padding-bottom: 20px;
    color: white;
    justify-self: left;
    text-align: center;
}

.presente{
    background-color: rgb(216, 177, 48);
}

.laco{
    display: flex;
    justify-content: center;
    align-items: center;
}

#dir{
    width: 70px;
    height: 50px;
    border: 5Px solid rgb(204, 0, 0);
    border-radius: 50% / 100% 50% 50% 0;
    transform: rotatey(180deg);
}

#esq{
    width: 70px;
    height: 50px;
    border: 5px solid rgb(204, 0, 0);
    border-radius: 50% / 100% 50% 50% 0;  
} 

#tampa{
    border-radius: 10px; 
    width: 215px;
    height: 70px;
    margin: auto;
    filter: drop-shadow(0 2px 3px);
}

#corpo{
    margin: auto;
    border-radius: 0px 0px  10px 10px;
    width: 200px;
    height: 110px;
}

.Fita{
    background-color: rgb(204, 0, 0);
    margin: auto;
    height: 110px;
    width: 70px;
}

#tampa .Fita{
    width: 90px;  
    height: 70px;
}

#topo{
    transition: transform 0.3s ease;
}

.Hide{
    display: none;
}

#topo:active {
    transform: rotate(-15deg) translateY(-3rem);
}

#videoHide{
    display: flex;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
}

#TituloHide{
    font-size: 15px;
    margin-top: 0px;
    color: white;
    text-align: center; 
}


